<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sucesso</title>

</head>
<body>
        <div class="success-message">
            <h1>Cadastro Realizado com Sucesso!</h1>
            <p>O aluno foi cadastrado com sucesso. Você pode continuar utilizando o sistema.</p>
            <div class="buttons">
                <a href="/" class="btn">Voltar à Página Inicial</a>
            </div>
        </div>
</body>
</html>
